body, div {
    margin: 0%;
    padding: 0%;
}

#container {
    background-color: #f4f3f3;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

/* nav bars */

#mobile_navbar{
    display: none; 
}

#nav_bar {
    display: block;
    background-image: linear-gradient(rgba(245,244,244,3) 60%, rgba(245,244,244,0.0)); 
    position: fixed;
    width: 100%;
    height: 250px;
    z-index: 1;
}

/* landing page */

#landing { 
    position: inherit;
    max-width: 1920px;
    width: auto;
    height: auto;
}

#mobilelanding {
    display: none; 
}

/* butterfly logo */

#logo {
    display: block;
    margin-top: 0%;
    margin-left: 10%;
    float: left;
    width: 5%;
    margin-top: 3%;
}

/* cart logo */

#cart {
    float: right;
    margin-right: 10%;
    margin-top: 2.3%;
}

/* nav text */

nav {
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: none;
    color: white;
    width: 68%;
    float: left;
}

ul {
    margin: 2%;
    padding: 0%;
    height: 10%;
}

/* font choice */

@font-face {
    font-family:'Montserrat', sans-serif;
}

/* nav bar hover and click decorations */

li {
    display: inline;
    float: center;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #f4f3f3;
    padding: 3%;
    padding-right: 0%;
    padding-left: 0%;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

li a {
    text-decoration: none;
    color: #788199;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;

}

li a:hover {
    background-color: #85acaa;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}


/* header and paragraph text settings */

h1 {
    margin: 0;
    padding: 0;
    font-family: font-family: 'Rakkas', cursive;
    font-size: 35px;
}

p {
    background-color: none;
    opacity: 1;
    color: #788199;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    line-height: 25px;
}


/* -------------------- section 1: about -------------------- */

#section1 {
    background-image: url(imgs/background-01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 13%;
    height: 1000px;
}

#section1 h1 {
    margin-right: 65%;
    color: #85acaa;
    display: inline-block;
}

.desktop_about {
    display: block; 
}

.desktop_about p {
    text-align: left;
    display: inline-block;
    width: 20%;
    float: left;
    padding-left: 10%;
    font-size: 12px;
}

#abouttheprism {
    float: right; 
    z-index: -1;
    display: inline-block;
    margin-right: 5%;
    margin-top: 0px;
    width: 60%;
    height: auto;
    padding-bottom: 10%;
}

#aboutprismmobile {
    display: none;
}

.mobile_about p {
    display: none;
}


/* -------------------- section 2: history -------------------- */

#section2 {
    background-image: url(imgs/background-02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 5%;
    width: 100%;
}

#section2 h1 {
    padding-top: 8%;
    float: right;
    margin-right: 25%;
    color: #85acaa;
    font-family: font-family: 'Rakkas', cursive;
}

#section2 p {
    padding-top: 10.5%;
    width: 20%;
    margin-right: 13%;
    text-align: left;
    height: 0px;
    font-size: 12px;
}


#timeline {
    padding-bottom: 6%;
    position: inherit;
    width: 100%;
    height: auto;
}

.mobiletimeline {
    display: none;
}


/* -------------------- section 3: features -------------------- */

#section3 {
    background-image: url(imgs/background-03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: ;
}

#section3 h1 {
    padding-top: 13%;
    color: #85acaa;
    padding-bottom: 30px;
}


/* header and paragraph settings */

#section3 h2 {
    font-family: font-family: 'Rakkas', cursive;
    color: #a2c3bb;
    margin-right: 9.5%;
    font-size: 28px;
}

#section3 p {
    width: 400px;
    text-align: left;
    padding-top: 1%;
    padding-bottom: 2%;
    font-size: 12px;
}


/* color therapy */

.desktopcolors p {
    padding-left: 3.5%;
    display: block;
    font-size: 12px;
}

.desktopcolors img {
    padding-left: 1%
}

#colors {
    display: block;
    padding-bottom: 5%;
    padding-left: 1%;
}

.mobilecolorsicon img {
    width: 30px;
}

/* sound therapy */

#sounds {
    margin-left: 11%;
    padding-top: 3%;
}

#mobilesoundicon img {
    width: 30px;
}


/* hologram display */

#holographs {
    display: block;
    margin-left: 20%;
    padding-top: 3%;
}

#mobilehologramicon img {
    width: 30px;
}

#mobiletherapy {
    display:none;
}


/* column settings */

.featuresrow h2 {
    float: center;
    font-family: font-family: 'Rakkas', cursive;
    color: #a2c3bb;
    text-align: left;
}

.featuresrow p {
    padding-bottom: 10%;
    margin-right: 15%;
}

.featurescolumn {
    display: inline-block;
    width: 30%;
    float: center;
    text-align: left;
    margin-right: 4%;
    margin-left: 9%;
    padding-bottom: 10%;
}

.featurescolumn p {
    padding-left: 7%;
}

.featurescolumn img {
    padding-left: 4%
}

/* hide mobile sections */

#mobilesoundtherapy {
    display: none;
}

.holographs {
    display: none;
}


/* -------------------- section 4: mobile app -------------------- */

#section4 {
    background-image: url(imgs/background-04.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
    width: 100%;
}

#section4 h1 {
    padding-top: 11%;
    float: center;
    font-family: font-family: 'Rakkas', cursive;
    color: #85acaa;
    padding-bottom: 1%;
}

/* desktop settings */

.appmockup {
    display: block;
    padding-top: 2%;
    margin-bottom: 3%;
}

.appstore {
    display: block;
    padding-bottom: 5%;
}

/* mobile settings */

.mobilemockup, .mobileappstore{
    display: none;
}


/* -------------------- section 5: user stories -------------------- */

#section5 {
    background-image: url(imgs/background-05.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

#section5 p {
    font-size: 12px;
}

#section5 h1 {
    padding-top: 200px;
    color: #85acaa;
    margin-left: 2%;
}

/* column settings */

.usercolumn {
    display: inline-block;
    width: 20%;
    float: center;
    text-align: left;
    margin-left: 10%;
    margin-right: 3%;
    padding-bottom: 100px;
}

/* mobile settings */

.mobilehannah {
    display: none;
}

.mobileoliver {
    display: none;
}


/* -------------------- section 6: purchase -------------------- */


.purchasemobileimg img, mobilepurchasedesc img {
    display: none;
}

#section6 {
    background-image: url(imgs/background-06.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

#section6 h1 {
    color: #85acaa;
    margin-left: 29%;
    padding-top: 13%;
}

#section6 p {
    text-align: left;
    float: right;
    width: 40%;
    font-size: 12px;
}

.purchaseimg {
    float: left;
    display: inline-flex;
    margin-left: 300px;
    width: 30%;
    height: auto;
}

/* theraprism and price img */

.purchaseinfo {
    margin-right: 13%;
    padding-top: 1.5%;
}

/* bulleted list settings */

.purchasepointsp p {
    float: left;
    text-align: left;
    width: 300px;
    position: relative;
    display: inline-block;
    font-size: 14px;
}

/* add to cart icon */

.buy {
    float: right;
    margin-right: 18%;
}

/* mobile app ad */

.appmockup2 {
    padding-top: 25%;
    float: center;
    padding-bottom: 5%;
}

    .mobiletitleprice img {
        display: none;
    }
    
    .mobilepurchasedesc img {
        display: none;
    }

    .mobileaddcartbutton img {
        display: none;
    }


/* -------------------- section 7: our team -------------------- */

#section7 {
    background-image: url(imgs/background-07.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 13%;
    width: 100%;
}

#section7 h1 {
    color: #85acaa;
    margin-left: 0.5%;
}

#section7 p {
    font-size: 12px;
}

/* column settings */

.teamrow h2 {
    float: center;
    font-family: font-family: 'Rakkas', cursive;
    color: #a2c3bb;
    text-align: center;
}

.teamcolumn {
    display: inline-block;
    width: 20%;
    float: center;
    text-align: left;
    margin-left: 10%;
    margin-right: 3%;
    padding-bottom: 5%;
}

/* mobile group member paragraphs */

#mobile_dtr {
    display: none;
}

#mobile_dtj {
    display: none;
}

/* footer settings */

#footer {
    display: block;
    padding-bottom: 2%;
}

#footer p {
     text-align: center;
    float: center;
    color: #a2c3bb;
}

#mobile_footer {
    display: none;
}




/* ----------------------------------- MOBILE SETTINGS -------------------------------------- */





@media only screen and (max-width : 376px) {
   
    /* hamburger menu */
    
    .topnav a:not(:first-child) {display: none;}
    .topnav a:first-child {
        float:left;
        padding-left: 0px;
    }

    .topnav a.icon, #mobile_navbar a.icon {
        float: left;
        display: block;
        font-size: 30px;
        padding-top: 5%;
        padding-left: 8%;
        z-index: 1
    }
     
    .topnav.responsive {
        position: relative;
    }
    
    .topnav.responsive .icon {
        position: inherit;
        z-index: 1;
    }
    
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
        padding-top: 7%;
        padding-right: 20%;
        padding-bottom: 7%;
        height: 4%;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
    }
   
/* mobile nav bar */
    
#mobile_navbar {
    display: block;
    padding-top: 10px; 
    background-image: linear-gradient(rgba(245,244,244,3) 40%, rgba(245,244,244,0.0)); 
    position: fixed;
    width: 100%;
    height: 20%;   
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    }
    
    #mobile_navbar a{
    text-decoration: none;
    color: #85acaa;
    background-image: linear-gradient(to right, rgba(245,244,244,1) 60%, rgba(245,244,244,0.0));
    }
    
    #mobile_navbar a:hover {
    }
    
/* centered mobile nav bar butterfly logo */
    
    .mobilelogo {
        float: center;
        position: absolute;
 /* putting z-index here so hamburger menu shows, issue with both not appearing at same time */
        z-index: -1;
        display: inline-block;
        background-image: none;
    }
    
/* desktop butterfly logo */
    
    #logo {
        display: none;
    }
    
/* desktop nav bar */
    
    #nav_bar {
        display: none;
        position: fixed;
        width: 100%;
        z-index: 1;
    }
    
    li {
        display: block;
        line-height: 22px;
    }
    
    ul {
        margin: 0;
        padding: 0;
        height: 180px;
        padding-top: 20px;
    }
    
/* desktop cart logo */
    
    #cart {
        display: none;
    }
    
    
/* landing page */
    
    #landing img {
        display: none;
    }
    
    #mobilelanding {
        background-image: url(imgs/mobilebg-01.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
    }
    
    #mobilelanding img {
        padding-left: 11px;
    }
    
    #mobilelanding {
        display: block;
        padding-top: 150px;
        padding-bottom: 50px;
    }
    
    
/* ------ section 1: about ----- */
    
    
#section1 {
    background-image: url(imgs/mobilebg-02.jpg);
    width: 100%;
    height: auto;
}
    
    /* desktop */
    
    #abouttheprism {
        display: none;
    }
    
    .desktop_about {
        display: none;
    }
    
    /* mobile */
    
    #section1 h1 {
        text-align: center;
        margin-right: 0%;
        font-size: 37px;
        width: 80%;
    }
    
    .mobile_about p {
        display: block;
        width: 80%;
        padding-bottom: 50px;
        font-size: 18px;
        line-height: 38px;
    }
    
    #aboutprismmobile {
        display: block;
        padding-bottom: 6%;
    }
    
    
/* ------ section 2: history ----- */
    
    /* desktop */
    
 #timeline img {
        display: none;
    }
    
   /* mobile */ 

#section2 {
    background-image: url(imgs/mobilebg-03.jpg);
    padding-top: 0px;
}
    
    #section2 h1 {
        display: block;
        float: none;
        margin-right: 0px;
        padding-top: 0px;
        font-size: 40px;
        text-align: center;
    }
    
    #section2 p {
        display: block;
        text-align: center;
        padding-bottom: 0px;
        width: 80%;
        margin-right: 10%;
        padding-top: 0%;
        font-size: 18px;
        line-height: 38px;
        height: 100%;
    }
    
    .mobiletimeline {
        display: block;
        width: 100%;
        height: auto;
        padding-top: 5%;
        padding-bottom: 50px;
    }
    
    
/* ------ section 3: features ----- */
    
    /* desktop */
    
    .desktopcolors, .featuresrow {
        display: none;
    }
    
    #holographs, #sounds, #colors {
        display: none;
    }
      .s3header {
        display: none;
    }
    
    .featuresrow p {
        padding-bottom: 0%;
    }

    .featurescolumn {
        padding-bottom: 0%
    }

    /* mobile */
    
    #section3 {
        display: block;
        background-image: url(imgs/mobilebg-04.jpg);
    }
    
    #section3 h1 {
        font-size: 40px;
        padding-top: 20%;
    }
    
    #mobiletherapy {
        display: block;
        padding-top: 0px;
    }
    
    /* color therapy */
    
    #mobiletherapy h2 {
        font-size: 30px;
        text-align: center;
        padding-top: 0px;
        margin-right: 0px;
    }
    
    #mobiletherapy p {
        text-align: center;
        font-size: 18px;
        line-height: 38px;
        width: 80%;
    }
    
    #mobilecolorsicon img, #mobilesoundicon img, #mobilehologramicon img {
        width: 20%;
        height: auto;
    }
    
    #mobilecoloricon {
    padding-top: 0px;
    }
    
    #mobilecoloricon img {
        padding-top: 5%;
        padding-bottom: 3%;
    }

    /* sound therapy */
    
    #mobilesoundtherapy {
        display: block;
        background-image: url(imgs/mobilebg-05.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #mobilesoundtherapy h2 {
        text-align: center;
        margin-right: 0px;
        font-family: font-family: 'Rakkas', cursive;
        font-size: 30px;
        color: #a2c3bb;
        text-align: center;
    }
    
    #mobilesoundtherapy p {
        text-align: center;
        font-size: 18px;
        line-height: 38px;
        width: 80%;
    }
    
    #mobilesoundicon img {
        padding-top: 15%;
        padding-bottom: 0%;
    }
    
    /* hologram display */
    
    .holographs {
        display: block;
        background-image: url(imgs/mobilebg-04.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #mobilehologramdisplay h2 {
        text-align: center;
        margin-right: 0px;
        font-family: font-family: 'Rakkas', cursive;
        font-size: 30px;
        color: #a2c3bb;
        text-align: center;
    }
    
    #mobilehologramdisplay p {
        text-align: center;
        font-size: 18px;
        line-height: 38px;
        width: 80%;
    }
    
    #mobilehologramicon img {
        padding-top: 15%;
        padding-bottom: 0%
    }
    
    /* image settings */
    
    #colors img {
        width: 80%;
        height: auto;
    }
    
    .soundtherapy img {
        padding-top: 5%;
        width: 80%;
        height: auto;
        padding-bottom: 15%;
    }
    
    .holographs img {
        padding-top: 5%;
        width: 80%;
        height: auto;
        padding-bottom: 15%;
    }
     
    

/* ------ section 4: mobile app ----- */
  
    /* desktop */
    
    .usercolumn, .appmockup, .appstore {
        display: none;
    }

    /* mobile */
    
#section4 {
    background-image: url(imgs/mobilebg-05.jpg);
    padding-top: 0px;
    }
    
    #section4 h1{
        font-size: 40px;
        padding-top: 0px;
        margin-left: 8%
    }
    
    .mobilemockup, .mobileappstore {
        display: block;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    
/* ------ section 5: user stories ----- */
  
    /* desktop */
    
    #userportraits {
        display:none;
    }
    
    .teamrow {
        display:none;
    }
    
    /* mobile */
    
#section5 {
    background-image: url(imgs/mobilebg-06.jpg);
}
    
    #section5 h1 {
        font-size: 40px;
        padding-top: 0px;
    }
    
    #section5 p {
        width: 80%;
        padding-bottom: 100px;
        font-size: 18px;
        line-height: 38px;
    }
    
    /* hannah */
    
    .mobilehannah {
    display: block;
    padding-top: 30px;
    }
    
    .mobilehannah p {
        padding-bottom: 8%;
    }
    
    /* oliver */

    .mobileoliver {
    display: block;
    }
    
    
    .mobileoliver p {
        padding-bottom: 8%; 
    }
    

/* ------ section 6: purchase page ----- */
  
    /* desktop */
    
    .purchaseimg, .purchasepointsp, .purchaseinfo {
        display: none;
    }
    
    .buy img, .appmockup2 img {
        display: none;
    }
    
        .purchaseinfo {
        padding-top: 0px;
    }
    
    .appmockup2 {
        padding-top: 0px;
    }

    /* mobile */
    
#section6 {
    background-image: url(imgs/mobilebg-07.jpg);
}
    
    #section6 h1 {
        margin-left: 0px;
        padding-top: 0px;
        font-size: 40px;
        padding-bottom: 0px;
    }
    
    .purchasemobileimg img {
    display: block;
    }
    
    .mobiletitleprice img {
        display: block;
        padding-top: 30px;
        margin-left: 22%;
    }
    
    .mobilepurchasedesc img {
        padding-top: 30px;
        display: block;
        margin-left: 20%;
    }
    
    .mobileaddcartbutton img {
    display: block;
    margin-left: 11%;
    padding-top: 7%;
    padding-bottom: 15%
}
    
    
    
/* ------ section 7: our team ----- */
  
    /* desktop */
    
    #desktopdreamteam{
        display: none;
    }
    
    /* mobile */
    
#section7 {
    background-image: url(imgs/mobilebg-08.jpg)
    }
    
    #section7 h1{
        font-size: 40px;
    }
    
    #mobile_dtr, #mobile_dtj {
        display: block;
        padding-top: 30px; 
    }
    
    #mobile_dtr p, #mobile_dtj p {
        font-size: 18px;
        line-height: 38px; 
        width: 80%;
    }
    
    /* mobile footer settings */
    
    #footer {
        display: none;
    }
    
    #mobile_footer {
        display: block; 
        padding-top: 10%;
        padding-bottom: 5%;
    }
    
    #mobile_footer p {
        font-size: 14px;
        text-align: center;
        float: center;
        color: #a2c3bb;
    }
    
    /* extra padding */
    
    #section1, #section2, #section3, #section4, #section5, #section6, #section7 {
        padding-top: 200px;
    }
    
    #section3 {
        padding-top: 0px;
    }
  
    /* media query closing parenthesis */
}
